@font-face {
    font-family: 'lexend_peta';
    src: url('lexendpeta.woff2') format('woff2'),
         url('lexendpeta.woff') format('woff'),
         url('lexendpeta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}