# mod_rewrite
RewriteEngine on

RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

# Does not apply to existing directories
RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]